body {
  margin: 0;
  padding: 0;
  background-color: rgb(247, 247, 247);
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: rgb(55, 53, 47);
}

.app {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
  border-radius: 3px;
  padding: 24px 16px;
  width: 850px;
  margin-top: 50px;
}

.button-container, .info-container {
  display: flex;
  align-items: center;
}

.button-container button {
  margin: 0 5px;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

.edit {
  border: 1px solid rgba(55, 53, 47, 0.16);
  color: rgb(55, 53, 47);
  font-weight: 500;
}

.edit:hover {
  background-color: rgba(55, 53, 47, 0.08);
}

.edit:active {
  color: rgb(255, 255, 255);
  background-color: rgb(141, 181, 145);
}

.delete {
  border: 1px solid rgba(235, 87, 87, 0.5);
  color: rgb(235, 87, 87);
  font-weight: 500;
}

.delete:hover {
  background-color: rgba(235, 87, 87, 0.1);
}

.delete:active {
  background-color: rgb(255, 175, 163);
  color: rgb(255, 255, 255);
}

.create {
  border: 1px solid rgba(35, 131, 226, 0.28);
  color: rgb(35, 131, 226);
  font-weight: 500;
}

.create:hover {
  background-color: rgba(35, 131, 226, 0.08);
}

.create:active {
  background-color: rgb(108, 115, 148);
  color: rgb(255, 255, 255)
}

.signout {
  border: 1px solid rgba(55, 53, 47, 0.16);
  background-color: rgba(55, 53, 47, 0.08) !important;
  color: rgb(55, 53, 47);
}

.signout:hover {
  background-color: rgba(55, 53, 47, 0.12) !important;
  border: 1px solid rgba(55, 53, 47, 0.16);
}

.signout:active {
  border: 1.5px solid rgb(175, 81, 81) !important;
  background-color: rgb(175, 81, 81) !important;
  color: rgb(255, 255, 255);
}

input {
  margin: 8px 0;
  padding: 10px 14px;
  border-radius: 4px;
  border: 1px solid rgba(55, 53, 47, 0.16);
  font-size: 15px;
  outline: none;
  transition: border-color 0.1s ease-in-out;
}

input:focus {
  border-color: rgb(35, 131, 226);
}

/* List Header */

.list-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: rgba(55, 53, 47, 0.09) 1px solid;
  padding-bottom: 14px;
  margin-bottom: 14px;
  align-items: center;
}

/* List Item */

.list-item {
  width: 100%;
  margin: 1px 0 8px 0;
  border-radius: 4px;
  border: 1px solid transparent;
  display: flex;
  justify-content: space-between;
  padding: 12px 14px;
  transition: background 20ms ease-in 0s;
}

.list-item:hover {
  background-color: rgba(55, 53, 47, 0.03);
  cursor: pointer;
}

.tick {
  padding: 10px;
}

.tick path {
  fill: none;
  stroke: rgb(55, 53, 47);
  stroke-miterlimit: 10;
  stroke-width: 25px;
  transition: stroke 0.1s ease-in-out;
}

/* Modal */

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 550px;
  background-color: rgb(255, 255, 255);
  padding: 24px;
  border-radius: 4px;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 5px 10px, rgba(15, 15, 15, 0.2) 0px 15px 40px;
}

.modal .form-title-container {
  display: flex;
  justify-content: space-between;
}

.modal .form-title-container button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.modal .form-title-container button:hover {
  background-color: rgba(55, 53, 47, 0.08);
}

.modal .form-title-container button:active {
  color: rgb(255, 50, 50);
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal label {
  font-size: 14px;
  color: rgba(55, 53, 47, 0.65);
  font-weight: 500;
  margin-bottom: 4px;
  display: block;
}

/* Auth */

.auth-container {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.auth-container-box {
  width: 520px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
}

.auth-container-box form {
  display: flex;
  flex-direction: column;
  height: 350px;
  padding: 20px;
}

.auth-options {
  display: flex;
}

.auth-options button {
  width: 50%;
  border: none;
  padding: 12px;
  color: rgb(55, 53, 47);
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  transition: background-color 0.1s ease-in-out;
}

.auth-options button:hover {
  background-color: rgba(55, 53, 47, 0.04);
}

.copyright {
  font-size: 12px;
  margin: 10px;
  color: rgba(55, 53, 47, 0.5);
}

.user-email {
  float: right;
  font-size: 14px;
  margin: 10px;
  color: rgba(55, 53, 47, 0.65);
  font-weight: 500;
}

.outer-bar {
  width: 200px;
  height: 8px;
  background-color: rgba(55, 53, 47, 0.08);
  border-radius: 4px;
  overflow: hidden;
  margin: 4px 0;
}

.inner-bar {
  height: 8px;
  transition: width 0.2s ease-in-out;
}

.task-title {
  width: 300px;
}